
*{
  box-sizing: border-box;
}
html{
  padding: 0;
  margin: 0;
}
body{
  background-color: #EFE5DC;
  --beige: #EFE5DC;
  --bright-one: #FF7477;
  --bright-two: #5386E4;
  --bright-three: #99621e;
  --accent-light: rgb(153, 98, 30, 0.2);
  --accent-dark: #553A41;
  --font-main: "Roboto Slab";
  --font-accent: 'Work Sans';
}
a{
  text-decoration: none;
}
.App{
  font-family: var(--font-main);
  height: 120vh;
}
h2{
  font-family: var(--font-accent);
  color: var(--accent-dark)
}
h1{
  font-family: var(--font-accent);
  color: var(--beige);
  font-weight: 800;
  text-transform: uppercase;
}
.login-screen-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-screen{
  text-align: center;
}

.login-links{
  
  display: grid;
  grid-template-columns: 50% 50%;
}

.login-link{
  padding-top:10px;
  padding-left:10px;
  padding-bottom: 20px;
  text-decoration: none;
}

.login-link--active{
  background-color: #e1e1e1;
}

.login-tab-form{
  height:25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 20px;
}

.login-form-input{
  padding: 10px;
}

.input-top{
  margin-bottom:0;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  background: var(--accent-light);
  height: 15vh;
}
.header-logo{
  color: var(--bright-one)
}
.header-links{
  margin-right: 0;
  display: flex;
  align-items: center;
}
.button{
  background-color: var(--accent-dark);
  color: #fff;
  border: 0px;
  padding: 10px;
  font-family: var(--font-accent);
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-link a{
  color: var(--accent-dark);
  font-family: var(--font-accent);
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}
.dashboard{
  height: calc(100% - 5vh);
  padding: 0 4%;
  display: flex;
  flex-direction: column;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
}

.modal-content{
  background-color: #fff;
  
  padding: 50px;
  padding-bottom: 50px;
  width: 50%;
  position: relative;
}
.section-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-list{
  display: flex;
  flex-wrap: wrap;
}

.album-list-item{
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid var(--accent-light);
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: 0.4s;
  cursor: pointer;
}

.album-list-item:hover{
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: 3px 3px 10px var(--accent-light);
}

.album-list-item a{
  color: var(--accent-dark);
  font-weight: 700;
}

.new-button{
  background-color: var(--accent-light);
  border: 1px solid var(--accent-light);
  position: relative;
  font-size: 25px;
  
}

.new-button a{
  color: var(--accent-dark);
  font-weight: 700;
  transition: 0.4s;
}

.section-list a{
  color: var(--accent-dark);
  font-weight: 700;
  transition: 0.4s;
}

.new-button:hover{
  background-color:rgb(153, 98, 30, 0.4);
  box-shadow: inset 3px 3px 10px var(--accent-dark);
}


.first-list-item{
  width: 100%;
  height: 180px;
  background-color: var(--accent-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-list-item a{
  color: #fff;
}

.first-list-item-button{
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4654A3;
  color: #fff;
  font-weight: bold;
}


.new-button:before {
  content: attr(data-hover);
  opacity: 0;
  color: var(--accent-dark);
  font-family: var(--font-accent);
  text-transform: uppercase;
  transition: opacity 0.4s;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  font-size: 16px;
  font-weight: 500;
}

.new-button:hover:before {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
}
.card-list-item{
  width: 10vw;
  height: 10vw;
  background-color: var(--accent-light);
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.4s;
}


.card-image{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 5px;
  transition: 0.3s;
}

.card-list-item-link{
  width: 100%;
  height: 100%;
}

.card-image:hover{
  opacity: 0.7;
}

.people-list{
  display: flex;
}

.person-list-item{
  width: 7.5vw;
  height: 7.5vw;
  background-color: var(--accent-light);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: 0.4s;
}
.person-list-item-caption{
  text-align: center;
}
.person-list-item-title{
  font-weight: 600;
}
.new-people{
  background-color: var(--accent-light);
  border: 1px solid var(--accent-light);
  position: relative;
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-image{
  width: 7.5vw;
  height: 7.5vw;
  object-fit:cover;
  border-radius: 50%;
  transition: 0.3s;
}
.person-image:hover{
  opacity: 0.7;
}
.people-list-container{
  padding-bottom: 60px;
}
.new-album{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.new-album-test{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.new-album-input{
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid var(--bright-three);
}


.modal-button {
  
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 30%;
  font-weight: bold;
}

.modal-button-nav{
  border: 1px solid var(--bright-three);
  background: var(--accent-light);
  color: var(--bright-three)
}

.modal-button-left{
  position: absolute;
  bottom: 30px;
  left: 50px;
}

.modal-button-right{
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.modal-button-done{
  background-color: var(--bright-three);
  border: 1px solid var(--accent-light);
}

.album-card-selection-grid{
  background-color: var(--accent-light);
  width: 100%;
  height: 200px;
  overflow: scroll;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 100px; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px 10px;
  padding: 10px;
}

.album-card-selection label > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-card-selection{
  position: relative;
  display: block;
  background-color: #F95B3D;
}
.album-card-checkbox{
  position: absolute; 
  bottom: 0px; 
  right: 0px;
}

.album-page-container{
  padding: 0 4%;
}

.album-page-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-top: 10px;
  margin-top: 50px;
  background-color: var(--accent-light);
}
.album-page-column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.album-page-column > div {
  margin-bottom: 8px;
  cursor: pointer;
}

/* Style your items */
.album-page-column > div > a > img { /* change div to reference your elements you put in <Masonry> */
  width: 100%;
  border-radius: 2px;
  position: relative;
}

.album-page-title{
  width: 30%;
}

.album-page-header{
  margin-top: 40px;
  margin-bottom: 20px;
}

.album-nav{
  display: flex;
  justify-content: space-between;
}

.timeline-button{
  background-color: var(--bright-two);
  margin-right: 15px;
}
.slideshow-button{
  background-color: var(--bright-one);
}

.landscape{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.portrait .card-view-img{
  width: 60%;
}
.loading-img{
  opacity: 0;
}
.timeline-container{
  padding-bottom: 40px;
}

.timeline-header{
  display: flex;
  list-style: none;
}

.timeline{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  
}

.timeline::after{
  background-color: #e17b77;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}
.timeline-group-container{
  display: flex;
  position: relative;
  width: 50%;
  margin-left: 28%;
  
}

.timeline-group-container .circle{
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  right: calc(56% - 10px);
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-group-container-expanded .circle{
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  right: calc(56% - 10px);
  width: 20px;
  height: 20px;
  z-index: 100;
}
.timeline-group, .timeline-group-expanded{
  display: flex;
  flex-direction: column; 
  margin: 20px 0;
  margin-top: 40px;
  position: relative;
}
.timeline-group::before{
  content: attr(data-attribute);
  position: absolute;
  right: 0%;
  top: -30px;
  padding-bottom: 20px;
  font-size: 48px;
}

.timeline-group-expanded::before{
  content: attr(data-attribute);
  position: absolute;
  right: 50%;
  top: -30px;
  padding-bottom: 20px;
  font-size: 48px;
}

.timeline-item{
  width:20vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.timeline-group-container-expanded{
  display: flex;
  position: relative;
  width: 50%;
  margin-left: 28%;
}

.timeline-item-expanded{
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  z-index: 1;
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
  
}
.timeline-item-special{
  width:20vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: calc(9% + 1px);
}




@media only screen and (max-width: 800px) {
  .login-screen {
    width: 60%;
  }
  .modal-content{
    width: 90%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1500px) {
  .login-screen {
    width: 560px;
    
  }
  .modal-content{
    min-width: 720px;
  }

  
  
}
